.pre-login {
    background: url("../../Assets/Images/comic-background.png");
    background-size: cover;
    min-height: 100vh;
}

.main-section {
    margin: 0 auto;
    margin-top: 90px;
    padding: 0;
}
.login-modal-content {
    background: #3b4652;
    opacity: 0.9;
    padding: 0 18px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
    img {
        height: 100px;
        width: 100px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #848484;
    }
}
.form-group {
    margin-bottom: 25px;
    input {
        height: 42px;
        border-radius: 13.5px;
        margin-bottom: 12px;
        border: 0;
        font-size: 14px;
    }
}
.login-btn {
    width: 45%;
    margin: 5px 0 25px;
    background: lighten(#ee9e32, 10%);
    color: white;
    font-size: 19px;
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid lighten(#ee9e32, 10%);
    &:hover,
    &:focus {
        background-color: #ee9e32 !important;
        border-bottom: 4px solid #ee9e32 !important;
    }
    i {
        margin-right: 7px;
    }
}
.signup-btn {
    @extend .login-btn;
    width: 70%;
}
.login-toggle-btn {
    padding: 10px 60px;
    background: transparent;
    border: 0;
    outline: none !important;
    position: relative;
    width: 50%;
    font-weight: 900;
    color: #7c96a5;
    z-index:10;
    &.active {
        color: #ee9e32;
        border-bottom: 1px solid #ee9e32;
        outline: none !important;
    }
}

.forgot {
    padding: 5px 0 25px;
    a {
        color: #c2fbfe;
    }
}
.button-box {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}
.particles-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    // z-index: -1;
}