.header-video {
    position: relative;
    overflow: hidden;
    background: url("../../Assets/Images/comic-background.png");
    background-size: cover; 
    background-repeat: no-repeat;
    // min-height: 100vh;
}
#hero_video {
    position: relative;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    height: 100%;
    z-index: 99;
    text-align: center;
}
#sub_content {
    display: table-cell;
    padding: 0 15%;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
}
