.store-card {
    width: 220px;
    height: 55vh;
    margin-bottom: 20px;
    &:hover {
        transform: scale(1.01);
        // background: linear-gradient(125deg, orange 60%, cyan);
    }
    margin-top: 20px;
    // background: linear-gradient(125deg, rgb(99, 93, 81) 50%, rgb(148, 177, 177))
}
.store-card-image {
    height: 60%;
    width: 100px;
}
.store-page {
    // background: linear-gradient(to left, rgba(75, 69, 48, 0.6), rgba(46, 45, 40, 0.9));
    background: black;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.store-card-title {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.store-card-text {
    font-size: 12px;
}
.store-btn {
    width: 110%;
    height: 100%;
    font-size: 14px;
    margin: 0px;
}
.store-card-body {
    font-size: 14px;
}
.watermark {
    opacity: 0.3;
    font-size: 80px;
    font-weight: 700;
    color: "black";
    background: "#ccc";
    position: absolute;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    left: calc(30%);
    bottom: calc(50%);
}

.carousel-item-0 {
    height: 38vh;
}
.carousel-item-1 {
    @extend .carousel-item-0;
    // background-image: url("../../Assets/Images/store-bg.jpg");
}
.carousel-item-2 {
    @extend .carousel-item-0;
}
.store-categories-2 {
    min-height: 28vh;
}
.store-categories-1 {
    min-height: 28vh;
}
.store-home {
    min-height: 100vh;
}
