@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.relative {
    position: relative;
}

main {
    position: relative;
}

// import files
@import "./mixins";

// import pages
@import "./Pages/preLogin1";
@import "./Pages/welcome";
